APP_ENV=local

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=lms_smk_karya_teladan
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

SMTP_HOST=smtp.example.com
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_FROM_EMAIL=no-reply@example.com
SMTP_FROM_NAME="LMS SMK Karya Teladan"

RECAPTCHA_SITE_KEY=your-recaptcha-site-key
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key
